
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
  <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" 
          href="/projects">Home <span class="sr-only">(current)</span></a>
        </li>

         <li class="nav-item dropdown float-right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account </a>
          

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <% if user_signed_in? %>
              <p>Logged in as <%= current_user.email %>.</p>
              <%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item"  %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>  
             <% end %>
          </div>
        </li>   

      

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/projects/new">Create project</a>

            <a class="dropdown-item" href="/projects/userprojects">Your projects</a> 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Projects applied</a>
            <a class="dropdown-item" href="#">Projects finished</a>
          </div>
        </li>    
  </ul> 
      <p class="navbar-text float-right">
    

    <!-- li class="nav-item">
        </li> -->

        <!--<li class="nav-item">-->
        <!--  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
        <!--</li>-->

        <!--<li class="nav-item">-->
      <!--  <a class="nav-link" href="/posts/new">New post</a>-->
      <!--</li>-->

  <!--    </ul>-->
  <!--  </p>-->
  <!--    <form class="form-inline my-2 my-lg-0">-->
  <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
  <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
  <!--    </form>-->
    </div>
  </nav>
